$FondoColor: rgb(240, 239, 238);
$widthNav: 100%;
$heightNav: 100px;
$TitulosColor: rgb(55, 108, 189);
$FBcolor:rgb(38, 38, 153);
$IGcolor: rgb(255, 0, 128);
$LDcolor: rgb(25, 161, 206);
$Pcolor: rgb(163, 17, 17);
$TitulosQS: rgb(61, 61, 165);
$ULQS: rgb(32, 28, 28);